pkgbase = rigsignal-git
	pkgdesc = Gaming performance telemetry agent -- ships CPU/GPU/memory/frame metrics to Elasticsearch
	pkgver = 0.3.3.r1.g93053f7
	pkgrel = 1
	url = https://github.com/MathewRJ/RigSignal
	arch = x86_64
	license = Apache
	makedepends = rust
	makedepends = git
	optdepends = mangohud: frame timing data collection
	provides = rigsignal
	conflicts = rigsignal
	options = !lto
	backup = etc/rigsignal/rigsignal.toml
	source = rigsignal-git::git+https://github.com/MathewRJ/RigSignal.git
	sha256sums = SKIP

pkgname = rigsignal-git
